h2 {
    color: #001351;
}

form {
    overflow: visible;
}

.input-field {
    position: relative;
}

.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
}

.input-field input:focus,
.input-field input:valid {
    outline: none;
    border: solid 1px #001351;
}

.input-field input:focus~label,
.input-field input:valid~label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #001351;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

label {
    color: #001351;
    font-weight: bold;
}

/* Botão Enviar */
.btnEnviar {
    padding: 17px 40px;
    width: 250px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #005eff;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 20px;
    transition: all 0.5s ease;
    color: white;
    margin-bottom: 50px;
}

.btnEnviar:hover {
    letter-spacing: 3px;
    background-color: rgb(2, 141, 19);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(3, 174, 23) 0px 3px 150px 0px;
}

.btnEnviar:active {
    letter-spacing: 3px;
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}